# Note that oh-my-zsh provides a lot of good aliases

# helpers
alias grep="grep --color=auto"
alias df="df -h"
alias du="du -h"

# vim
alias vim="nvim"
alias vi="nvim"

# tmux aliases
alias ta="tmux attach"
alias tls="tmux ls"
alias tat="tmux attach -t"
alias tns="tmux new-session -s"

# emacs aliases
alias emc="emacsclient -nw -a 'emacs --daemon'"
alias em="emacsclient -c -a 'emacs --daemon'"
