configuration {
	modi: "drun";
	show-icons: true;
	font: "Hack NF 12";
	sort: true;
	matching: "fuzzy";
	display-drun: "Exec";
	display-calc: "Calc";
	display-window: "Window";
}

@theme "themes/slate.rasi"
